<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="SearchPage" parallel = "methods" thread-count = "3">
       
        <parameter name="Location-1" value="London"/>
        <parameter name="Location-2" value="Birmingham"/>
        <parameter name="Location-3" value="Leeds"/>
        
        <classes>
            <class name="SearchPage"></class>
        </classes>
    </test>
</suite>
